body {
  max-width: 720px;
  margin: 0 auto;
  background-color: #f3f4f5;
  padding: 4rem;
  font-family: Sans-serif;
}

@media only screen and ( max-width: 48rem ) {
  body {
    margin: 0;
    padding: 0;
  }
}
